// .work.experience section
.experience {
  div {
    text-align: left;
  }
}
details {
  margin-bottom: 1rem;
  color: lightslategrey;
}
summary {
  display: flex;
  align-items: baseline;
  color: var(--dark-grey);

  div {
    margin-top: 0.5rem;
    display: inline-block;
  }
}
time {
  color: var(--primary);
}
time:before {
  display: inline-block;
  content: "";
  background: var(--primary);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 0.1rem;
  margin-bottom: 0.4rem;
}
@media screen and (min-width: 800px) {
  main {
    flex-basis: 60%;
    padding: 0;
  }
  .container {
    width: 97%;
    padding: 2rem 0.5rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1140px) {
  main {
    margin: 0 2.5%;
    padding: 0 0 0 2rem;
  }
  .container {
    width: 85%;
    max-width: 60rem;
  }
}
